@import 'tailwindcss';

@theme{
  --color-navy-blue-1: #00071C;
  --color-navy-blue-2: #000515;
  --color-navy-blue-3: #00030E;
  --color-navy-dark: #000207;

  --color-bg-gray: #111827;
  --color-gray-card: #1F2937;
  --color-gray-card-border: #364050;

  --color-card-fav-blue: #1F2F50;
}

@keyframes blink {
  50% { border-color: transparent; }
}


:root{
  font-family: Arial, Helvetica, sans-serif;
}

[id] {
  scroll-margin-top: 72px; /* Matches h-18 */
}

html {
  scroll-behavior: smooth;
}


